<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="menu.html"></th:block>
<div class="container">
    <h2>식당 목록</h2>
    <table class="item-table">
        <colgroup>
            <col width="10%">
            <col width="70%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <thead>
        <tr>
            <th>번호</th>
            <th>식당명</th>
            <th colspan="2">관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="restaurant, status : ${restaurantList}">
            <td th:text="${totCnt-status.index-10*(nowPage-1)}"></td>
            <td><a th:href="@{/restaurantViewForm(restaurantId=${restaurant.restaurantId})}" th:text="${restaurant.restaurantNm}"></a></td>
            <td><button class="button-small" th:onclick="|location.href='@{/restaurantUpdateForm(restaurantId=${restaurant.restaurantId})}'|">수정</button></td>
            <td>
                <form id="delete_form" th:action="@{/restaurantDelete}" th:method="delete">
                    <input type="hidden" name="restaurantNo" id="restaurantNo" th:value="${restaurant.restaurantNo}">
                    <button type="submit" class="button-small">삭제</button>
                </form>
            </td>
        </tr>
        <th:block th:if="${totCnt eq 0}">
            <tr>
                <td colspan="4">결과가 없습니다.</td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div>
        <button class="button-normal" onclick="location.href='./restaurantRegistForm'">등록</button>
    </div>
    <div class="pagination">
        <a th:href="@{/restaurantListForm(page=0)}">최초페이지</a>
        <a th:href="@{/restaurantListForm(page=${nowPage-2})}" th:if="${nowPage != 1}">이전페이지</a></th:block>
        <a th:href="@{/restaurantListForm(page=0)}" th:if="${nowPage == 1}">이전페이지</a>
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage and endPage >= nowPage}" th:href="@{/restaurantListForm(page=${page-1})}" th:text ="${page}"></a>
            <strong th:if="${page==nowPage and endPage >= nowPage}" th:text ="${page}"></strong>
        </th:block>
        <a th:if="${nowPage != totalPages}" th:href="@{/restaurantListForm(page=${nowPage})}">다음페이지</a>
        <a th:if="${nowPage == totalPages}" th:href="@{/restaurantListForm(page=${totalPages-1})}">다음페이지</a>
        <a th:href="@{/restaurantListForm(page=${totalPages-1})}">마지막페이지</a>
    </div>
</div>
</body>
</html>