<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="/.include/menu.html"></th:block>
<div class="container">
    <h2>식당 등록</h2>
    <form id="restaurantRegistForm" name="restaurantRegistForm" action="./restaurantRegist" method="post">
        <div class="form-group">
            <label for="restaurantNm">식당명:</label>
            <input type="text" id="restaurantNm" name="restaurantNm" required>
        </div>
        <button type="submit">등록</button>
    </form>
</div>
</body>
</html>
