<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="/.include/menu.html"></th:block>
<div class="container">
    <h2>식당 수정</h2>
    <form id="restaurantUpdateForm" name="restaurantUpdateForm" th:action="@{./restaurantUpdate}" th:method="put">
        <input type="hidden" name="restaurantId" id="restaurantId" th:value="${restaurant.restaurantId}">
        <div class="form-group">
            <label for="restaurantNm">식당명:</label>
            <input type="text" name="restaurantNm" id="restaurantNm" th:value="${restaurant.restaurantNm}" required>
        </div>
        <button class="button-normal" type="submit">수정</button>
    </form>
</div>
</body>
</html>
