<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="menu.html"></th:block>
<div class="container">
    <h2>메뉴 상세</h2>
    <div class="details">
        <p><strong>메뉴명:</strong>[[${foodMenu.foodMenuNm}]]</p>
        <p><strong>메뉴가격:</strong>[[${foodMenu.foodMenuPrice}]]</p>
        <p><strong>메뉴카테고리:</strong>[[${foodMenu.menuCategory}]]</p>
        <p><strong>인기메뉴 여부:</strong>[[${foodMenu.popularAt}]]</p>
        <p><strong>타이틀:</strong>[[${foodMenu.foodMenuTitle}]]</p>
        <p><strong>Image:</strong></p>
        <img th:src="${@environment.getProperty('order.upload.path')}+${foodMenu.foodImgPath}+${foodMenu.foodImgStoreName}" th:alt="${foodMenu.foodImgName}" class="item-image">
    </div>
    <div class="buttons">
        <button class="button-normal" th:onclick="|location.href='@{/foodMenuUpdateForm(foodMenuNo=${foodMenu.foodMenuNo})}'|">수정</button>
    </div>
</div>
</body>
</html>
