<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="menu.html"></th:block>
<div class="container">
    <h2>메뉴 상세</h2>
    <div class="details">
        <p><strong>메뉴명:</strong>[[${foodMenu.foodMenuNm}]]</p>
        <p><strong>메뉴가격:</strong>[[${foodMenu.foodMenuPrice}]]</p>
        <p><strong>타이틀:</strong>
            <th:block th:if="${foodMenu.foodMenuTitle == 'NEW'}">신규</th:block>
            <th:block th:if="${foodMenu.foodMenuTitle == 'BEST'}">최고</th:block>
            <th:block th:if="${foodMenu.foodMenuTitle == 'RECOMMEND'}">추천</th:block>
        </p>
        <p><strong>메뉴카테고리:</strong>
            <th:block th:if="${foodMenu.menuCategory == 'MAIN'}">메인메뉴</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'STEW'}">찌개류</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'STIR_FRIED'}">볶음류</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'NOODLE'}">면류</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'FRIED'}">튀김류</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'SIDE'}">사이드메뉴</th:block>
            <th:block th:if="${foodMenu.menuCategory == 'DRINK'}">주류/음료</th:block>
        </p>
        <p><strong>인기메뉴 여부:</strong>
            <th:block th:if="${foodMenu.popularAt == 'Y'}">사용</th:block>
            <th:block th:if="${foodMenu.popularAt == 'N'}">사용안함</th:block>
        </p>
        <p><strong>Image:</strong></p>
        <img th:src="${@environment.getProperty('order.upload.path')}+${foodMenu.foodImgPath}+${foodMenu.foodImgStoreName}" th:alt="${foodMenu.foodImgName}" class="item-image">
    </div>
    <div class="buttons">
        <button class="button-normal" th:onclick="|location.href='@{/foodMenuUpdateForm(foodMenuNo=${foodMenu.foodMenuNo})}'|">수정</button>
    </div>
</div>
</body>
</html>
