<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="/.include/menu.html"></th:block>
<div class="container">
    <h2>메뉴 목록</h2>
    <table class="item-table">
        <colgroup>
            <col width="5">
            <col width="70%"/>
            <col width="10%"/>
            <col width="5%"/>
            <col width="5%"/>
            <col width="5%"/>
        </colgroup>
        <thead>
        <tr>
            <th>번호</th>
            <th>메뉴명</th>
            <th>가격</th>
            <th colspan="3">관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="foodMenu : ${foodMenuList}">
            <td th:text="${foodMenu.foodMenuNo}"></td>
            <td th:text="${foodMenu.foodMenuNm}"></td>
            <td th:text="${foodMenu.foodMenuPrice}"></td>
            <td><a class="btn_s" th:href="@{/weather/weatherViewForm(foodMenu=${foodMenu.foodMenuNo})}">보기</a></td>
            <td><a class="btn_s" th:href="@{/weather/weatherUpdateForm(foodMenu=${foodMenu.foodMenuNo})}">수정</a></td>
            <td>
                <form id="delete_form" th:action="@{/weather/weatherDelete(foodMenu=${foodMenu.foodMenuNo})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" class="btn_s" value="삭제">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="buttons">
        <button onclick="location.href='./foodMenuRegistForm'">등록</button>
    </div>
</div>
</body>
</html>