<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="menu.html"></th:block>
<div class="container">
    <h2>메뉴 수정</h2>
    <form id="foodMenuRegistForm" name="foodMenuRegistForm" th:action="@{./foodMenuUpdate}" th:method="put" enctype="multipart/form-data">
        <input type="hidden" name="foodMenuNo" id="foodMenuNo" th:value="${foodMenu.foodMenuNo}" required>
        <input type="hidden" name="foodImgName" id="foodImgName" th:value="${foodMenu.foodImgName}" required>
        <input type="hidden" name="foodImgStoreName" id="foodImgStoreName" th:value="${foodMenu.foodImgStoreName}" required>
        <input type="hidden" name="foodImgPath" id="foodImgPath" th:value="${foodMenu.foodImgPath}" required>
        <div class="form-group">
            <label for="foodMenuNm">메뉴명:</label>
            <input type="text" id="foodMenuNm" name="foodMenuNm" th:value="${foodMenu.foodMenuNm}" required>
        </div>
        <div class="form-group">
            <label for="foodMenuPrice">메뉴가격:</label>
            <input type="text" id="foodMenuPrice" name="foodMenuPrice" th:value="${foodMenu.foodMenuPrice}" required>
        </div>
        <p>타이틀:</p>
        <div class="radio-container">
            <label class="radio-label"><input th:checked="${foodMenu.foodMenuTitle == 'NEW'}" type="radio" id="foodMenuTitle1" name="foodMenuTitle" value="NEW"> 신규</label>
            <label class="radio-label"><input th:checked="${foodMenu.foodMenuTitle == 'BEST'}" type="radio" id="foodMenuTitle2" name="foodMenuTitle" value="BEST"> 최고</label>
            <label class="radio-label"><input th:checked="${foodMenu.foodMenuTitle == 'RECOMMEND'}" type="radio" id="foodMenuTitle3" name="foodMenuTitle" value="RECOMMEND"> 추천</label>
        </div>
        <p>메뉴카테고리:</p>
        <div class="radio-container">
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'MAIN'}" type="radio" id="menuCategory1" name="menuCategory" value="MAIN"> 메인메뉴</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'STEW'}" type="radio" id="menuCategory2" name="menuCategory" value="STEW"> 찌개류</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'STIR_FRIED'}" type="radio" id="menuCategory3" name="menuCategory" value="STIR_FRIED"> 볶음류</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'NOODLE'}" type="radio" id="menuCategory4" name="menuCategory" value="NOODLE"> 면류</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'FRIED'}" type="radio" id="menuCategory5" name="menuCategory" value="FRIED"> 튀김류</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'SIDE'}" type="radio" id="menuCategory6" name="menuCategory" value="SIDE"> 사이드메뉴</label>
            <label class="radio-label"><input th:checked="${foodMenu.menuCategory == 'DRINK'}" type="radio" id="menuCategory7" name="menuCategory" value="DRINK"> 주류/음료</label>
        </div>
        <p>인기메뉴 여부:</p>
        <div class="radio-container">
            <label class="radio-label"><input th:checked="${foodMenu.popularAt == 'Y'}" type="radio" id="popularAt1" name="popularAt" value="Y"> 사용</label>
            <label class="radio-label"><input th:checked="${foodMenu.popularAt == 'N'}" type="radio" id="popularAt2" name="popularAt" value="N"> 사용안함</label>
        </div>
        <div class="form-group">
            <label>메뉴 이미지:</label>
            <label for="fileUpload" class="file-label">파일 업로드</label>
            <input type="file" id="fileUpload" name="fileUpload" class="file-input" onchange="displayFileName()">
            <span id="fileName">[[${foodMenu.foodImgName}]]</span>
        </div>
        <button class="button-normal" type="submit">수정</button>
    </form>
</div>
<script>
    function displayFileName() {
        const fileInput = document.getElementById('fileUpload');
        const fileNameDisplay = document.getElementById('fileName');
        const fileName = fileInput.files[0].name;
        fileNameDisplay.textContent = fileName;
    }
</script>
</body>
</html>
