<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="/.include/menu.html"></th:block>
<div class="container">
    <h2>주문내역 상세</h2>
    <div class="details">
        <p><strong>주문내역명:</strong>[[${orderHistory.orderHistoryNm}]]</p>
    </div>
    <div class="buttons">
        <button class="button-normal" th:onclick="|location.href='@{/orderHistoryUpdateForm(orderHistoryId=${orderHistory.orderHistoryId})}'|">수정</button>
    </div>
</div>
</body>
</html>
