<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<th:block th:include="menu.html"></th:block>
<div class="container">
    <h2>주문내역 수정</h2>
    <form id="orderHistoryUpdateForm" name="orderHistoryUpdateForm" th:action="@{./orderHistoryUpdate}" th:method="put">
        <input type="hidden" name="orderHistoryNo" id="orderHistoryNo" th:value="${orderHistory.orderHistoryNo}">
        <div class="form-group">
            <label for="orderId">주문ID:</label>
            <input type="text" name="orderId" id="orderId" th:value="${orderHistory.orderId}" required>
        </div>
        <div class="form-group">
            <label for="restaurantId">식당ID:</label>
            <input type="text" name="restaurantId" id="restaurantId" th:value="${orderHistory.restaurantId}" required>
        </div>
        <div class="form-group">
            <label for="tableNo">테이블 번호:</label>
            <input type="text" name="tableNo" id="tableNo" th:value="${orderHistory.tableNo}" required>
        </div>
        <p>=====================================================================</p>
        <th:block th:each="orderHistoryMenu, status : ${orderHistoryMenuList}">
            <input type="hidden" name="orderHistoryMenuNo" id="orderHistoryMenuNo" th:value="${orderHistoryMenu[0].orderHistoryMenuNo}">
            <div class="form-group">
                <label for="foodMenuNo1">메뉴 번호1:</label>
                <input type="text" name="foodMenuNo" id="foodMenuNo1" th:value="${orderHistoryMenu[1].foodMenuNo}" required>
            </div>
            <div class="form-group">
                <label for="orderCnt1">메뉴 수량1:</label>
                <input type="text" name="orderCnt" id="orderCnt1" th:value="${orderHistoryMenu[0].orderCnt}" required>
            </div>
            <p>=====================================================================</p>
        </th:block>
        <button class="button-normal" type="submit">수정</button>
    </form>
</div>
</body>
</html>
