<div class="header">
    <div class="menu">
        <a href="/">Home</a>
        <th:block th:if="${commonMap.loginGrade == 'ADMIN'}">
            <a href="./memberListForm">사용자 관리</a>
        </th:block>
        <a href="./restaurantListForm">식당 관리</a>
        <a href="./foodMenuListForm">메뉴 관리</a>
        <a href="./orderHistoryListForm">주문내역 관리</a>
    </div>
    <div class="logout">
        <div class="form-group select-box-menu">
            <select id="category"
                    th:onchange="restaurantIdLogin(this.value)"
            >
                <option value="">식당 선택</option>
                <th:block th:each="item : ${commonMap.restaurantList}">
                    <option th:value="${item.restaurantId}"
                            th:text="${item.restaurantNm}"
                            th:selected="${item.restaurantId} == ${commonMap.restaurantId}"
                    >
                </th:block>
                </option>
            </select>
        </div>
        <th:span th:if="${commonMap.restaurantId ne null}" th:text="${commonMap.restaurantId}+' | '"></th:span>
        <span th:text="${commonMap.loginName}">님</span> |
        <a href="/logout">Logout</a>
    </div>
</div>
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/common.js"></script>
<script th:inline="javascript">
    function restaurantIdLogin(restaurantId){
        $.ajax({
            type: "POST",
            url: "/loginRestaurant",
            data:{
                "restaurantId" : restaurantId
            },
        }).always(function() {
            location.reload()
        })
    }
</script>